#h1mw {
    text-align: center;
    font-family: "Consolas";
    font-size: 70px;

}
#pnw {
    font-family: 'Trebuchet MS';
    color: black;
    position: absolute;
    left: 430px;
    top: 150px;
    font-size: 35px;
}
#datepnw {
    font-family: 'Trebuchet MS';
    color: black;
    position: absolute;
    left:430px;
    top:115px;
    font-size: 25px;
}


